{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <div class="intro">{{ page.intro|richtext }}</div>

    {% if page.get_children.live %}
        <ul class="post-list">
            {% for post in page.get_children.live %}
                <li>
                    <a href="{% pageurl post %}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
