{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <div class="intro">{{ page.intro|richtext }}</div>

    {% for post in posts %}
        <article class="post-preview">
            <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
            <div class="meta">
                <time>{{ post.date }}</time>
                <span class="author">by {{ post.author }}</span>
            </div>
            <p>{{ post.intro }}</p>
        </article>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
{% endblock %}
